<app-menu></app-menu>
<div class='loginform'>
  <div class="heading">
    <span class = "pagetitle"> Create New Product | </span>
    <span class = "list"><a routerLink="/product/list">Product List</a></span>
    
     
  </div>
</div>

<button (click)="save()">Change Product</button>
 

    
<table class="table  table-bordered table-striped">      
              
    
      
           
          <tr>     
              <th scope="col">Product Name </th>                
              <input type="text" [(ngModel)]="product.name">                                                    
           </tr>
           <tr>
              <th scope="col">Part Number </th>
              <input type="string" [(ngModel)]="product.partNumber">                   
          </tr>
           <tr>
               <th scope="col">Price </th>
               <input type="number" [(ngModel)]="product.price">                   
           </tr>
           <tr>
              <th scope="col">Unit </th>
              <input type="number" [(ngModel)]="product.unit">                   
          </tr>
           <tr>
               <th scope="col">Active?  </th>
               <input type="checkbox" [(ngModel)]="product.active">                     
           </tr>
           <tr>
              <th scope="col">Photo Path  </th>
              <input type="string" [(ngModel)]="product.photoPath">                     
          </tr>

           
       </tbody>

</table>  





  
  