<app-menu></app-menu>
  <div>
    <div class="heading">
      <span class = "pagetitle">Request List</span>
      <span class = "create"> | <a routerLink="/request/create">Create</a></span>
     
      <span class = "search"> | <input [(ngModel)] = "searchCriteria" type="text"></span>
    </div>
  <table class="table  table-bordered table-striped">
    <thead>
    <tr class="column_titles">
      <td>Description</td>
      <td>Justification</td>       
      <td>Delivery Method</td>
      <td>Review Date</td>
      <td>Status</td>    
      <td>Total</td>   
      <td>Active? </td>
     </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let request of requests | search:searchCriteria" class="coldetail">
          <td>{{request.description}}</td>
          <td>{{request.justification}}</td>
          <td>{{request.deliveryMode}}</td>
          <td>{{request.reviewDate | date:'medium'}}</td>
          <td>{{request.status}}</td>
          <td>{{request.total}}</td>
              
                    
          <td class="bool">{{request.active | booldisp}}</td>
          
          <td>
              <a routerLink="/request/detail/{{request.id}}">Detail | </a>
              <a routerLink="/request/edit/{{request.id}}">Edit |</a>
              <a routerLink="/requestline/display/{{request.id}}">Request Line</a>
              
          </td>     
         
        </tr>
    </tbody>
  
  </table>
  
  </div>
  