<div>
  <table class="table">
    <tr>
      <td>User name:</td>
      <td>
          <input [(ngModel)] = "username" type="text">
      </td>
      <tr>
          <td>Password:</td>
          <td>
              <input [(ngModel)] = "password" type="password">
          </td>       
    </tr>
    <tr>
      <td>
        <button (click)="login()" class="btn btn-primary">Login</button>
      </td>
    <td>&nbsp;</td>
    </tr>
  </table>
  <span class="text-danger font-weight-bold">{{message}}</span>
</div>